# Exemplo de .env para o laboratório de PBL de concorrência e conectividade
# Todas as seções em um único arquivo. Copie apenas a seção necessária.

# --- CLIENTE ---
# Variáveis necessárias para o cliente interativo acessar os gateways.
GATEWAY_TCP_CLIENT_PORT=8081
IP_NORTE=192.168.0.101
IP_SUL=192.168.0.102
IP_LESTE=192.168.0.103
IP_OESTE=192.168.0.104

# --- GATEWAY NORTE ---
# Configurações do gateway Norte.
GATEWAY_ID=Norte
GATEWAY_IP=192.168.0.101
GATEWAY_HOST=0.0.0.0
GATEWAY_TCP_REG_PORT=8080
GATEWAY_TCP_CLIENT_PORT=8081
GATEWAY_TCP_PEER_PORT=8082
SETOR_ID=Norte

# --- BEACON NORTE ---
# Intervalos de geração de alertas do beacon Norte.
RADAR_INTERVAL_MS=40000
NAVAL_INTERVAL_MS=50000
BOIA_INTERVAL_MS=60000
ESTACAO_INTERVAL_MS=80000

# --- DEVICE NORTE ---
# Configuração do drone Norte.
DEVICE_ID=Drone_Norte
DEVICE_IP=192.168.0.101
DEVICE_HOST=0.0.0.0
DEVICE_CONTROL_PORT=8083
FAILURE_RATE=0.05

# --- GATEWAY SUL ---
# Configurações do gateway Sul.
GATEWAY_ID=Sul
GATEWAY_IP=192.168.0.102
GATEWAY_HOST=0.0.0.0
GATEWAY_TCP_REG_PORT=8080
GATEWAY_TCP_CLIENT_PORT=8081
GATEWAY_TCP_PEER_PORT=8082
SETOR_ID=Sul

# --- BEACON SUL ---
# Intervalos de geração de alertas do beacon Sul.
RADAR_INTERVAL_MS=40000
NAVAL_INTERVAL_MS=50000
BOIA_INTERVAL_MS=60000
ESTACAO_INTERVAL_MS=80000

# --- DEVICE SUL ---
# Configuração do drone Sul.
DEVICE_ID=Drone_Sul
DEVICE_IP=192.168.0.102
DEVICE_HOST=0.0.0.0
DEVICE_CONTROL_PORT=8083
FAILURE_RATE=0.05

# --- GATEWAY LESTE ---
# Configurações do gateway Leste.
GATEWAY_ID=Leste
GATEWAY_IP=192.168.0.103
GATEWAY_HOST=0.0.0.0
GATEWAY_TCP_REG_PORT=8080
GATEWAY_TCP_CLIENT_PORT=8081
GATEWAY_TCP_PEER_PORT=8082
SETOR_ID=Leste

# --- BEACON LESTE ---
# Intervalos de geração de alertas do beacon Leste.
RADAR_INTERVAL_MS=40000
NAVAL_INTERVAL_MS=50000
BOIA_INTERVAL_MS=60000
ESTACAO_INTERVAL_MS=80000

# --- DEVICE LESTE ---
# Configuração do drone Leste.
DEVICE_ID=Drone_Leste
DEVICE_IP=192.168.0.103
DEVICE_HOST=0.0.0.0
DEVICE_CONTROL_PORT=8083
FAILURE_RATE=0.05

# --- GATEWAY OESTE ---
# Configurações do gateway Oeste.
GATEWAY_ID=Oeste
GATEWAY_IP=192.168.0.104
GATEWAY_HOST=0.0.0.0
GATEWAY_TCP_REG_PORT=8080
GATEWAY_TCP_CLIENT_PORT=8081
GATEWAY_TCP_PEER_PORT=8082
SETOR_ID=Oeste

# --- BEACON OESTE ---
# Intervalos de geração de alertas do beacon Oeste.
RADAR_INTERVAL_MS=40000
NAVAL_INTERVAL_MS=50000
BOIA_INTERVAL_MS=60000
ESTACAO_INTERVAL_MS=80000

# --- DEVICE OESTE ---
# Configuração do drone Oeste.
DEVICE_ID=Drone_Oeste
DEVICE_IP=192.168.0.104
DEVICE_HOST=0.0.0.0
DEVICE_CONTROL_PORT=8083
FAILURE_RATE=0.05
