# Exemplo de .env para cada setor
# Copie a seção do setor desejado e remova o comentário (#) das linhas.
#
# Se quiser rodar apenas o client em outra máquina, crie um .env com as variáveis abaixo:
# IP_NORTE, IP_SUL, IP_LESTE, IP_OESTE e GATEWAY_TCP_CLIENT_PORT.
# O client usa esses IPs para se conectar aos gateways de cada setor.
# Não precisa incluir variáveis de gateway/device/beacon no .env do client.

# --- CLIENT ---
IP_NORTE=172.16.103.14
IP_SUL=172.16.103.13
IP_LESTE=172.16.103.12
IP_OESTE=172.16.103.11

GATEWAY_TCP_CLIENT_PORT=8081


# --- NORTE ---
IP_NORTE=172.16.103.14
IP_SUL=172.16.103.13
IP_LESTE=172.16.103.12
IP_OESTE=172.16.103.11

GATEWAY_ID=Norte
GATEWAY_IP=172.16.103.14
GATEWAY_HOST=0.0.0.0
GATEWAY_TCP_REG_PORT=8080
GATEWAY_TCP_CLIENT_PORT=8081
GATEWAY_TCP_PEER_PORT=8082

SETOR_ID=Norte
RADAR_INTERVAL_MS=40000
NAVAL_INTERVAL_MS=60000
BOIA_INTERVAL_MS=50000
ESTACAO_INTERVAL_MS=80000

DEVICE_ID=Drone_Norte_01
DEVICE_IP=172.16.103.14
DEVICE_HOST=0.0.0.0
DEVICE_CONTROL_PORT=8083
FAILURE_RATE=0.05


# --- SUL (PC .13) ---
IP_NORTE=172.16.103.14
IP_SUL=172.16.103.13
IP_LESTE=172.16.103.12
IP_OESTE=172.16.103.11

GATEWAY_ID=Sul
GATEWAY_IP=172.16.103.13
GATEWAY_HOST=0.0.0.0
GATEWAY_TCP_REG_PORT=8080
GATEWAY_TCP_CLIENT_PORT=8081
GATEWAY_TCP_PEER_PORT=8082

SETOR_ID=Sul
RADAR_INTERVAL_MS=40000
NAVAL_INTERVAL_MS=60000
BOIA_INTERVAL_MS=50000
ESTACAO_INTERVAL_MS=80000

DEVICE_ID=Drone_Sul_01
DEVICE_IP=172.16.103.13
DEVICE_HOST=0.0.0.0
DEVICE_CONTROL_PORT=8083
FAILURE_RATE=0.05


# --- LESTE ---
IP_NORTE=172.16.103.14
IP_SUL=172.16.103.13
IP_LESTE=172.16.103.12
IP_OESTE=172.16.103.11

GATEWAY_ID=Leste
GATEWAY_IP=172.16.103.12
GATEWAY_HOST=0.0.0.0
GATEWAY_TCP_REG_PORT=8080
GATEWAY_TCP_CLIENT_PORT=8081
GATEWAY_TCP_PEER_PORT=8082

SETOR_ID=Leste
RADAR_INTERVAL_MS=40000
NAVAL_INTERVAL_MS=60000
BOIA_INTERVAL_MS=50000
ESTACAO_INTERVAL_MS=80000

DEVICE_ID=Drone_Leste_01
DEVICE_IP=172.16.103.12
DEVICE_HOST=0.0.0.0
DEVICE_CONTROL_PORT=8083
FAILURE_RATE=0.05


# --- OESTE ---
IP_NORTE=172.16.103.14
IP_SUL=172.16.103.13
IP_LESTE=172.16.103.12
IP_OESTE=172.16.103.11

GATEWAY_ID=Oeste
GATEWAY_IP=172.16.103.11
GATEWAY_HOST=0.0.0.0
GATEWAY_TCP_REG_PORT=8080
GATEWAY_TCP_CLIENT_PORT=8081
GATEWAY_TCP_PEER_PORT=8082

SETOR_ID=Oeste
RADAR_INTERVAL_MS=40000
NAVAL_INTERVAL_MS=60000
BOIA_INTERVAL_MS=50000
ESTACAO_INTERVAL_MS=80000

DEVICE_ID=Drone_Oeste_01
DEVICE_IP=172.16.103.11
DEVICE_HOST=0.0.0.0
DEVICE_CONTROL_PORT=8083
FAILURE_RATE=0.05